<f:comment><!--

    Headings example

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <main>
        <h1 class="Heading Heading--xx-large">Heading xx-large</h1>
        <h2 class="Heading Heading--x-large">Heading x-large</h2>
        <h3 class="Heading Heading--large">Heading large</h3>
        <h4 class="Heading Heading--medium">Heading medium</h4>
        <h5 class="Heading Heading--small">Heading small</h5>
        <h6 class="Heading Heading--s-small">Heading x-small</h6>
    </main>
</html>
