<f:comment><!--

    Inline text examples

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <main>
        <section class="space-bottom" id="inline">
            <p>This is a standard phrase.</p>
            <p class="text--bold"><b>This is a bold phrase.</b></p>
            <p class="text--grey-light">This is a light grey phrase.</p>
            <p class="text--grey-medium">This is a grey phrase.</p>
            <p class="text--blue">This is a blue phrase.</p>
            <p class="text--warning">This is a warning.</p>
            <p class="text--error">This is an error.</p>
            <p class="text--small">This is a small phrase.</p><br/>
            <p class="text--blockquote">This is a blockquote.</p>
            <p class="text--lead-blue">This is a lead.</p>
            <p class="text--lead-white">This is a white lead with petrol background.</p>
            <p class="text--hero">This is a hero.</p>
            <p class="text--session-teaser">This is a session teaser.</p>
            <p>This is a <a class="text--link" href="#!">text link</a>.</p>
            <label>This is a label.</label>
            <input>This is the label input.</input>
            <p><a href="#!">This is a text link</a>.</p>
            <p><strong>Strong is used to indicate strong importance.</strong></p>
            <p><em>This text has added emphasis.</em></p>
            <p>The <b>b element</b> is stylistically different text from normal text, without any special importance.
            </p>
            <p>The <i>i element</i> is text that is offset from the normal text.</p>
            <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.
            </p>
            <p>
                <del>This text is deleted</del>
                and
                <ins>This text is inserted</ins>
                .
            </p>
            <p><s>This text has a strikethrough</s>.</p>
            <p>Superscript<sup>®</sup>.</p>
            <p>Subscript for things like H<sub>2</sub>O.</p>
            <p>
                <small>This small text is small for for fine print, etc.</small>
            </p>
            <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
            <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline
                quotation.</q>
            </p>
            <p><cite>This is a citation.</cite></p>
            <p>The <dfn>dfn element</dfn> indicates a definition.</p>
            <p>The
                <mark>mark element</mark>
                indicates a highlight.
            </p>
            <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var>.</p>
            <p>The time element:
                <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time>
            </p>
        </section>
    </main>
</html>
