<f:comment><!--

    Inline link examples

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
      data-namespace-typo3-fluid="true">
    <main>
        <p>Bei Links ist es wichtig, verschiedene Varianten zu betrachten. Beispielsweise müssen sich <a href="#">Links im Text</a> deutlich vom umgebenden Text abheben. Auch Zustandsänderungen, etwa beim Hovern oder Fokusieren, sollten klar erkenntlich sein.</p>
        <p><a href="#">Alleinstehende Links sind ebenfalls wichtig!</a></p>
        <h2>Gekürzte Links</h2>
        <div class="ShortenerTest">
            <p><a href="#" class="shorten">https://eine-sehr-lange-domain.die-gekuerzt-werden-muss.de</a></p>
            <dl>
                <dt>Website:</dt>
                <dd><a href="mailto:" class="shorten shorten-label">vorname.nachname@sehr-lange-domain.de</a></dd>
            </dl>
        </div>
    </main>
</html>
