<f:comment><!--

    List examples

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <main>
        <h2 class="Heading Heading--secondary">Definition lists</h2>
        <dl>
            <dt>Item 1</dt>
            <dd>This is a definition for item 1</dd>
            <dt>Item 2</dt>
            <dd>This is a definition for item 2. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, seStet clita kasd gubergren, no
                sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                elitr, sed diam nonumy eirmod tempor inv.
            </dd>
        </dl>
        <h2 class="Heading Heading--secondary">Ordered list</h2>
        <ol>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
        </ol>
        <h2 class="Heading Heading--secondary">Unordered lists</h2>
        <ul>
            <li>List Item 1</li>
            <li>List Item 2</li>
            <li>List Item 3</li>
        </ul>
    </main>
</html>
