<f:comment><!--

    Paragraph example

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <main>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica,
            sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li
            pronunciation e li plu commun vocabules.</p>
        <p>Omnicos directe al desirabilite de un nov lingua franca: On refusa gcontinuar payar custosi traductores.
            At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues
            coalesce, li grammatica del resultant lingue es plu simplice regulari quam ti del coalescent lingues. Li
            nov lingua franca va esser plu simplic e regulari quam li existent Europan</p>
    </main>
</html>
