<f:comment><!--

    Typographic scale

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <main>
        <table class="typographic-scale">
            <caption>
                <div class="base-font-size">Base font size:</div>
            </caption>
            <tr>
                <td class="font-size--micro">a</td>
                <td class="font-size--milli">a</td>
                <td class="font-size--uno">a</td>
                <td class="font-size--kilo">a</td>
                <td class="font-size--mega">a</td>
                <td class="font-size--giga">a</td>
                <td class="font-size--tera">a</td>
                <td class="font-size--peta">a</td>
            </tr>
            <tr>
                <th data-size="micro">micro</th>
                <th data-size="milli">milli</th>
                <th data-size="uno">uno</th>
                <th data-size="kilo">kilo</th>
                <th data-size="mega">mega</th>
                <th data-size="giga">giga</th>
                <th data-size="tera">tera</th>
                <th data-size="peta">peta</th>
            </tr>
        </table>
    </main>
</html>
