<f:comment><!--

    Table example

--></f:comment>
<html xmlns:f="https://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers" data-namespace-typo3-fluid="true">
    <main>
        <table>
            <thead>
                <tr>
                    <th>Table header 1</th>
                    <th>Table header 2</th>
                    <th>Table header 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 / Cell 1</td>
                    <td>Row 1 / Cell 2</td>
                    <td>Row 1 / Cell 3</td>
                </tr>
                <tr>
                    <td>Row 2 / Cell 1</td>
                    <td>Row 2 / Cell 2</td>
                    <td>Row 2 / Cell 3</td>
                </tr>
                <tr>
                    <td>Row 3 / Cell 1</td>
                    <td>Row 3 / Cell 2</td>
                    <td>Row 3 / Cell 3</td>
                </tr>
            </tbody>
        </table>
    </main>
</html>
