@mixin ligatures($common: 1, $discretionary: 1, $contextual: 1) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" $common, "dlig" $discretionary, "clig" $contextual; 
    -moz-font-feature-settings: "liga=$common, dlig=$discretionary, clig=$contextual"; 
    -ms-font-feature-settings: "liga" $common, "dlig" $discretionary, "clig" $contextual; 
    -o-font-feature-settings: "liga" $common, "dlig" $discretionary, "clig" $contextual; 
    -webkit-font-feature-settings: "liga" $common, "dlig" $discretionary, "clig" $contextual; 
    font-feature-settings: "liga" $common, "dlig" $discretionary, "clig" $contextual;
}

// Font size
@mixin font-size($decimal-size, $keyword: null) {
    @if $keyword {font-size: $keyword;}
    @else {font-size: $decimal-size * $base-font-multiplier * $em-to-px;}
    font-size: $decimal-size * 1rem;
}

@function rem($value, $fontsize: $font-size-medium) {
    @if $value == "auto" {
        @return $value;
    } @else {
        @return #{$font-size-medium * $value / $fontsize}em;
    }
}

@function em-value($value, $fontsize) {
    @if $value == "auto" {
        @return $value;
    } @else if ($value == 0) {
        @return 0;
    } @else {
        @return #{$value / $fontsize}em;
    }
}

@function rem-value($value) {
    @if $value == "auto" {
        @return $value;
    } @else if ($value == 0) {
        @return 0;
    } @else {
        @return #{$value}rem;
    }
}

@function rem-to-px($value) {
    @if $value == "auto" {
        @return $value;
    } @else if ($value == 0) {
        @return 0;
    } @else {
        @return #{$value * $em-to-px};
    }
}

@mixin rem-property($property, $fontsize, $top: null, $right: null, $bottom: null, $left: null) {
    @if $top {
        @if $right {
            @if $bottom {
                @if $left {
                    // #{$property}: rem-to-px($top) rem-to-px($right) rem-to-px($bottom) rem-to-px($left);
                    #{$property}: em-value($top, $fontsize) em-value($right, $fontsize) em-value($bottom, $fontsize) em-value($left, $fontsize);
                    #{$property}: rem-value($top) rem-value($right) rem-value($bottom) rem-value($left);
                } @else {
                    // #{$property}: rem-to-px($top) rem-to-px($right) rem-to-px($bottom);
                    #{$property}: em-value($top, $fontsize) em-value($right, $fontsize) em-value($bottom, $fontsize);
                    #{$property}: rem-value($top) rem-value($right) rem-value($bottom);
                }
            } @else {
                // #{$property}: rem-to-px($top) rem-to-px($right);
                #{$property}: em-value($top, $fontsize) em-value($right, $fontsize);
                #{$property}: rem-value($top) rem-value($right);
            }
        } @else {
            // #{$property}: rem-to-px($top);
            #{$property}: em-value($top, $fontsize);
            #{$property}: rem-value($top);
        }
    }
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}
 
@mixin animation-duration($name) {
  -webkit-animation-duration: $name;
  -moz-animation-duration: $name;
  -ms-animation-duration: $name;
  animation-duration: $name;
}
 
@mixin animation-timing-function($name) {
  -webkit-animation-timing-function: $name;
  -moz-animation-timing-function: $name;
  -ms-animation-timing-function: $name;
  animation-timing-function: $name;
}
 
@mixin animation-iteration-count($name) {
  -webkit-animation-iteration-count: $name;
  -moz-animation-iteration-count: $name;
  -ms-animation-iteration-count: $name;
  animation-iteration-count: $name;
}
 
@mixin animation-direction($name) {
  -webkit-animation-direction: $name;
  -moz-animation-direction: $name;
  -ms-animation-direction: $name;
  animation-direction: $name;
}
 
@mixin animation-delay($name) {
  -webkit-animation-delay: $name;
  -moz-animation-delay: $name;
  -ms-animation-delay: $name;
  animation-delay: $name;
}
 
@mixin animation-play-state($name) {
  -webkit-animation-play-state: $name;
  -moz-animation-play-state: $name;
  -ms-animation-play-state: $name;
  animation-play-state: $name;
}
 
@mixin animation-fill-mode($name) {
  -webkit-animation-fill-mode: $name;
  -moz-animation-fill-mode: $name;
  -ms-animation-fill-mode: $name;
  animation-fill-mode: $name;
}
 
@mixin keyframes($name) {
  @-webkit-keyframes $name { @content; }
  @-moz-keyframes $name { @content; }
  @-ms-keyframes $name { @content; }
  @keyframes $name { @content; }
}