///* --- FONT SIZES --- */
$em-to-px: 16px;

// Default keyword font sizes (rem)
$base-font-size-xx-small: .58;
$base-font-size-x-small: .65;
$base-font-size-smaller: 1/1.2;
$base-font-size-medium: 1;
$base-font-size-larger: 1.20;
$base-font-size-x-large: 1.5;
$base-font-size-xx-large: 2;

$base-font-multiplier: 1.1;

$font-size-xx-small: $base-font-size-xx-small * $base-font-multiplier;
$font-size-x-small: $base-font-size-x-small * $base-font-multiplier;
$font-size-smaller: $base-font-size-smaller * $base-font-multiplier;
$font-size-medium: $base-font-size-medium * $base-font-multiplier;
$font-size-larger: $base-font-size-larger * $base-font-multiplier;
$font-size-x-large: $base-font-size-x-large * $base-font-multiplier;
$font-size-xx-large: $base-font-size-xx-large * $base-font-multiplier;

$font-size-xx-small-percent: $base-font-size-xx-small * 100%;
$font-size-x-small-percent: $base-font-size-x-small * 100%;
$font-size-smaller-percent: $base-font-size-smaller * 100%;
$font-size-medium-percent: $base-font-size-medium * 100%;
$font-size-larger-percent: $base-font-size-larger * 100%;
$font-size-x-large-percent: $base-font-size-x-large * 100%;
$font-size-xx-large-percent: $base-font-size-xx-large * 100%;

$font-size-xx-small-percent-inv: 1 / $base-font-size-xx-small * 100%;
$font-size-x-small-percent-inv: 1 / $base-font-size-x-small * 100%;
$font-size-smaller-percent-inv: 1 / $base-font-size-smaller * 100%;
$font-size-medium-percent-inv: 1 / $base-font-size-medium * 100%;
$font-size-larger-percent-inv: 1 / $base-font-size-larger * 100%;
$font-size-x-large-percent-inv: 1 / $base-font-size-x-large * 100%;
$font-size-xx-large-percent-inv: 1 / $base-font-size-xx-large * 100%;

/*
$font-size-smaller: .9;
$font-size-medium: 1.1;
$font-size-larger: 1.32;
$font-size-x-large: 1.5;
$font-size-xx-large: 2.2;
$font-size-xxx-large: 3.04;
*/

$font-size-medium-2: 1.32;
$font-size-larger-2: 1.9;
$font-size-xxx-large: 3.04;